<!-- /com/configureone/api/plugin/chubb/quote/lineItemUI.html -->

<!-- JPoC Type = HTML_VIEW_JPOC_QUOTE_LINEITEM_TOP -->
<!-- request = javax.servlet.http.HttpServletRequest -->
<!-- response = javax.servlet.http.HttpServletResponse -->
<!-- principal = concept.core.ConceptPrincipal -->
<!-- quote = com.configureone.api.sales.quote.Quote -->

<button type="button" class="secondary" onclick="showSequenceDialog();">
    <span class="text-key" title="SequenceLineItems">Sequence</span>
</button>

<!-- Line Item Sequencer -->
<div class="sequence-content" style="display: none;">
    <div class="sequence-wrapper" style="display: grid; grid-template-columns: auto min-content; grid-column-gap: 16px; align-items: center; min-width: 512px">
        <select class="line-item-sequence" size="16" name="key" multiple style="width: 100%">
            <doc>
                <foreach var="lineitem" items="quote.getLineItems()" varStatus="index">
                    <option id="line-item-<doc><out>index</out></doc>" value="<doc><out>lineitem.getLineItemId()</out></doc>"
                            data-index="<doc><out>index</out></doc>" data-index-new="<doc><out>index</out></doc>">
                        <doc><out value="lineitem.getSequenceNumber()"></out></doc>:
                        <doc><out value="lineitem.getDescription()"></out></doc>
                    </option>
                </foreach>
            </doc>
        </select>

        <div class="sequence-actions" style="display: flex; flex-direction: column;">
            <a class="moveUp" id="move-up" href="javascript:void(0);" onclick="moveItem(this);" style="margin: 0 0 4px 0;"></a>
            <a class="moveDown" id="move-down" href="javascript:void(0);" onclick="moveItem(this);"></a>
        </div>
    </div>
</div>

<script type="text/javascript">
    var quoteID = '<doc><out>quote.getQuoteId()</out></doc>';
    var sequenceDialogID = 'sequence-dialog-' + quoteID;

    // Construct a model of the new line item sequence and pass that
    // model to the sequence controller to be processed server-side.
    function sequenceLineItems() {
        let lineItemData = [];
        let lineItems = document.querySelector('#' + sequenceDialogID + ' .line-item-sequence').options;
        for (let i = 0; i < lineItems.length; i++) {
            let line = {
                'lineItemID' : lineItems[i].value,
                'lineItemIndex' : lineItems[i].dataset.index,
                'lineItemIndexNew' : lineItems[i].dataset.indexNew
            };
            lineItemData.push(line);
        }

        let quoteData = { 'quoteID' : quoteID, 'lineItems' : lineItemData };
        sequenceController(JSON.stringify(quoteData));
    }

    // Refresh the new index data attribute to reflect each item's position
    // in the line item sequence. We use this value on the server-side in
    // order to determine where each of the line items are mean't to go.
    function refreshIndexes() {
        let lineItems = $('#' + sequenceDialogID + ' .line-item-sequence option');
        if (lineItems.length > 0) {
            lineItems.each(function(index) {
                $(this).data('index-new', index);
                $(this).attr('data-index-new', index);
            });
        }
    }

    // Move a line item up or down the sequence.
    function moveItem(element) {
        let selectedItems = $('#' + sequenceDialogID + ' .line-item-sequence option:selected');
        if (selectedItems.length > 0) {
            if (element.id === 'move-up') selectedItems.first().prev().before(selectedItems); // (REF: 1)
            else if (element.id === 'move-down') selectedItems.last().next().after(selectedItems); // (REF: 1)
            refreshIndexes();
        }
    }

    // Display the sequence dialog with a populated sequencer.
    function showSequenceDialog() {
        popDialogGeneric($('.sequence-content').clone().html(), {
            id: sequenceDialogID,
            title: "Line Item Sequence",
            resizable: true,
            buttons: {
                "Cancel": () => closeDialog(sequenceDialogID),
                "Update": () => {
                    sequenceLineItems(); // Generate and commit the new line item sequence.
                    save(); // Save the new sequence and refresh the page.
                    moveLineItem(0, ''); // Refresh the sequence order so that items appear with the correct index in the 'Item' column.
                }
            }
        });
    }

    // Call the sequence controller and pass the quote data, including the
    // updated line item sequence, to it. The server will then execute the
    // reordering function for us.
    function sequenceController(quoteData) {
        $.ajax({
            type: 'POST',
            url: '/spr/custom/jpoc/html/414601',
            contentType: 'application/json; charset=utf-8',
            data: quoteData,
            success: function(data, status, xhr) {
                if (!xhr.status == '200') {
                    closeDialog(sequenceDialogID); // Close the dialog to avoid overlapping.
                    let options = { id: 'sequence-quote-items-error' };
                    popDialogError(xhr.responseText, options);
                }
            },
            error: function(xhr, status, error) {
                closeDialog(sequenceDialogID); // Close the dialog to avoid overlapping.
                let options = { id: 'sequence-quote-items-error' };
                popDialogError(xhr.responseText, options);
            },
            complete: function(xhr, status) {
                closeDialog(sequenceDialogID); // Close the dialog on completion.
            }
        });
    }

    // Reorder the "Add Line Item" options.
    function reorderItemSelector() {
        let lineItemSelector = document.querySelector('select[id="line-item-type"]');
        if (lineItemSelector !== null) {
            let lineItemOrder = [ "IM", "CO", "DE", "AI", "DI", "CA" ]; // Prefered order.
            let lineItems = lineItemSelector.options;

            //$(lineItemSelector).empty(); // Remove all options.

            // Iterate through the prefered order, find the option with the corresponding value
            // that should already exist in the list, then simply pin it to the top and move the
            // cursor down one (so the following option will be pinned underneith the previous):
            for (let i = 0; i < lineItemOrder.length; i++) {
                let item = $(lineItemSelector).find('option[value=' + lineItemOrder[i] + ']');
                $(item).insertBefore(lineItems[i]);
            }

            lineItemSelector.selectedIndex = 0; // Reset to first item.
        }
    }

    reorderItemSelector();

    // References:
    // 1. https://stackoverflow.com/questions/6713702/how-can-i-move-selected-option-in-multiselect-up-and-down-by-buttons-using-jquer/33927233
</script>
