<!-- /com/configureone/api/plugin/chubb/quote/quoteUI.html -->

<!-- JPoC Type = HTML_VIEW_JPOC_HEAD_JAVASCRIPT -->
<!-- request = javax.servlet.http.HttpServletRequest -->
<!-- response = javax.servlet.http.HttpServletResponse -->
<!-- principal = concept.core.ConceptPrincipal -->
<!-- requestURI = java.lang.String -->

<doc>
    <if condition="requestURI.indexOf('/spr/Quote/interface') > -1">
        <script type="text/javascript">
            $(() => {
                // Change the INFO_CLIENT_QUOTE ("ICQ") field's max length to 240:
                let icqField = document.querySelector('textarea[name*="INFO_CLIENT_QUOTE"]');
                if (icqField !== null) {
                    icqField.setAttribute('maxlength', 240);
                    icqField.maxlength = 240; // Set attribute directly as well.

                    // If we ever add more code to these handlers, this will need to be changed:
                    icqField.setAttribute('onblur', 'limitText(this, 240);');
                    icqField.setAttribute('onkeyup', 'limitText(this, 240);');

                    $(icqField).trigger('blur'); // Trigger limitText(...) manually.
                    $(icqField).focus(); // We should make this conditional.
                }

                // Change the Quote Name field's max length to 100:
                let quoteNameField = document.querySelector('input#doc_name');
                if (quoteNameField !== null) {
                    quoteNameField.setAttribute('maxlength', 100);
                    quoteNameField.maxlength = 100; // Set attribute directly as well.
                }

                // Change the Quote Line Item Description field's max length to 500:
                let descriptionFields = document.querySelectorAll('[id^="description"]');
                if (descriptionFields.length > 0) {
                    for (let i = 0; i < descriptionFields.length; i++) {
                        descriptionFields[i].setAttribute('maxlength', 500);
                        descriptionFields[i].maxlength = 500; // Set attribute directly as well.

                        // If we ever add more code to these handlers, this will need to be changed:
                        //descriptionFields[i].setAttribute('onblur', 'limitText(this, 500);');
                        //descriptionFields[i].setAttribute('onkeyup', 'limitText(this, 500);');
                    }
                }
            });
        </script>
    </if>
</doc>
